@import '../../../styles/var.scss';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 0 20px;
  height: $header-bar-height;
  min-height: $header-bar-height;
  -webkit-app-region: drag;
  cursor: pointer;
}

.left {
  display: inline-flex;
}

.winIcon {
  width: $header-bar-height;
  height: $header-bar-height;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  &:hover {
    background-color: #000;
  }
}
